/*Customising Main Headinh*/
h1 {
font-family: Verdana;
font-weight: Normal;
font-size: 50px;
color: White;
text-align: center;
}

/* Customising the first link */

p, a {
  color: Aquamarine;
  font-size: 16ox;
  text-align: center;
}

/* Customising body */
body{
  margin: 0px;
  background-color: black;
  }
/*Video*/
.EX video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Phone imgae*/
.EN img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Camp side*/
.TG img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Customising Video */
#VD {
  text-align: center;
}

/* Customising phone image */
 .En img {
   text-align: center;
 }

 H2 {
  font-family: Verdana;
  font-size: 42px;
  font-weight: 300;
  color: White;
  text-align: center;
}

.TG p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}

.TG img{
  text-align: center;
}

#L{
  text-align: right;
  color: gray;
}
